<html>
<head>
<title>Ethan House Arcade</title>
</head>
<body>
    <h1>Ethan House Arcade Leaderboard</h1>
    {% if users.size == 0 %}
        <p>There are no users</p>
    {% else %}
        <table>
        <tr>
            <th>Name</th>
            <th>Tokens</th>
            <th>Tickets</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.tokens }}</td>
                <td>{{ user.tickets }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}

</body>
</html>
<style>

    table, th, td {
    border: 1px solid black;
    }

</style>